.main {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    height: 10%;
}

.text1 {
    color: black;
    font-size: 2em;
    position: absolute;
    top: 3%;
}

.column {
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
}

.text2 {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.bloc {
    width: 300px;
    height: 300px;
    background: rgb(158, 158, 158);
    border-radius: 11px;
    padding: 15px;
    justify-content: space-around;
    text-align: center;
    display: block;
    margin: 80px;
}

.main img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: black;
}


section h1, footer h1, nav a {
    font-weight: normal;
    text-transform: uppercase;
}


a .text2:hover {
    color: antiquewhite;
}
