
body {
    background-image: url(../Images/fond.png);
    background-size: cover;
}

input[type=button] {
    margin-left: 30px;
    margin-top: 40px;
    background-image: url(../Images/retour1.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    font-size: 13px;
}

input[type=button]:hover {
    background-color: transparent;
}

.container {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 17px;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    width: 40%;
    height: 300px;
    background-color: #696969;
    opacity: 0.5;
    color: #FFFFFF;
    border-radius: 25px;
}

input[type=submit] {
    background-color: whitesmoke;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;

}

input[type=text]{
    width: 250px;
    height: 20px;
    border-radius: 4px;
    border-color: transparent;
}

input[type=password]{
    width: 250px;
    height: 20px;
    border-radius: 4px;
    border-color: transparent;
}