.container {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    width: 40%;
    height: 250px;
    background-color: #696969;
    color: #FFFFFF;
    border-radius: 25px;
    horiz-align: center;
    opacity: 0.6;
    font-weight: bold;
    font-size: 20px;
}